In [29]:
import pandas as pd
import numpy as np

In [30]:
events_data = pd.read_csv('1.10_events_train.csv')
submissions_data = pd.read_csv('1.10_submissions_data_train.csv')

In [31]:
submissions_data.head()

   step_id   timestamp submission_status  user_id
0    31971  1434349275           correct    15853
1    31972  1434348300           correct    15853
2    31972  1478852149             wrong    15853
3    31972  1478852164           correct    15853
4    31976  1434348123             wrong    15853

In [32]:
events_data.head()

   step_id   timestamp      action  user_id
0    32815  1434340848      viewed    17632
1    32815  1434340848      passed    17632
2    32815  1434340848  discovered    17632
3    32811  1434340895  discovered    17632
4    32811  1434340895      viewed    17632

In [105]:
wrong_submissions_data = submissions_data.query('submission_status == "wrong"')

In [106]:
users_last_action = wrong_submissions_data.groupby('user_id', as_index=False) \
    .agg({'timestamp': 'max'})

In [107]:
users_last_action.head()

   user_id   timestamp
0        3  1444568755
1        5  1499859715
2        8  1480604128
3       14  1436368601
4       16  1513104380

In [108]:
wrong_submissions_data_with_max_time = users_last_action \
    .merge(wrong_submissions_data, how='left')

In [109]:
wrong_submissions_data_with_max_time.head()

   user_id   timestamp  step_id submission_status
0        3  1444568755    33540             wrong
1        5  1499859715    32812             wrong
2        8  1480604128    33332             wrong
3       14  1436368601    33983             wrong
4       16  1513104380    33994             wrong

In [110]:
wrong_submissions_data_with_max_time.shape

(7766, 4)

In [111]:
last_steps = wrong_submissions_data_with_max_time.groupby('step_id', as_index=False) \
    .agg({'timestamp': 'count'}).rename({'timestamp': 'fail_count'}, axis=1) \
    .sort_values('fail_count', ascending=False)

In [112]:
last_steps.head()

    step_id  fail_count
28    32812         867
4     31978         697
53    33669         402
0     31971         305
1     31972         294

In [113]:
last_steps.head()

    step_id  fail_count
28    32812         867
4     31978         697
53    33669         402
0     31971         305
1     31972         294

In [ ]:
#Ответ step_id=31978  fail_count=697