В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult)

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [46]:
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [23]:
dataMale = data[data['sex'] == 'Male']

In [24]:
dataFemale = data[data['sex'] == 'Female']

In [25]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [40]:
dataFemale['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [39]:
data[data['native-country'] == 'Germany']['native-country'].count() / data['native-country'].count()

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [59]:
data[data['salary'] == '<=50K']['age'].mean()

36.78373786407767

In [60]:
data[data['salary'] == '>50K']['age'].mean()

44.24984058155847

In [63]:
data[data['salary'] == '<=50K']['age'].std()

14.020088490824813

In [64]:
data[data['salary'] == '>50K']['age'].std()

10.51902771985177

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [97]:
data[data['salary'] == '>50K']['age'].count() - data[(data['salary'] == '>50K') & ((data['education'] == 'Bachelors') | 
                                                                                   (data['education'] == 'Prof-school') | 
                                                                                   (data['education'] == 'Assoc-acdm') |
                                                                                   (data['education'] == 'Assoc-voc') |
                                                                                   (data['education'] == 'Masters') |
                                                                                   (data['education'] == 'Doctorate'))]['age'].count()

3306

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [106]:
dataMale.groupby('race')['age'].describe()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,192.0,37.208333,12.049563,17.0,28.0,35.0,45.0,82.0
Asian-Pac-Islander,693.0,39.073593,12.883944,18.0,29.0,37.0,46.0,90.0
Black,1569.0,37.682600,12.882612,17.0,27.0,36.0,46.0,90.0
Other,162.0,34.654321,11.355531,17.0,26.0,32.0,42.0,77.0
White,19174.0,39.652498,13.436029,17.0,29.0,38.0,49.0,90.0

In [107]:
dataFemale.groupby('race')['age'].describe()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,119.0,37.117647,13.114991,17.0,27.0,36.0,46.00,80.0
Asian-Pac-Islander,346.0,35.089595,12.300845,17.0,25.0,33.0,43.75,75.0
Black,1555.0,37.854019,12.637197,17.0,28.0,37.0,46.00,90.0
Other,109.0,31.678899,11.631599,17.0,23.0,29.0,39.00,74.0
White,8642.0,36.811618,14.329093,17.0,25.0,35.0,46.00,90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [116]:
dataMale[dataMale['salary'] == '>50K']['age'].count() - dataMale[(dataMale['salary'] == '>50K') & ((dataMale['marital-status'] == 'Married-civ-spouse') | 
                                           (dataMale['marital-status'] == 'Married-spouse-absent') | 
                                           (dataMale['marital-status'] == 'Married-AF-spouse'))]['age'].count()

697

In [114]:
dataMale[(dataMale['salary'] == '>50K') & ((dataMale['marital-status'] == 'Married-civ-spouse') | 
                                           (dataMale['marital-status'] == 'Married-spouse-absent') | 
                                           (dataMale['marital-status'] == 'Married-AF-spouse'))]['age'].count()

5965

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [120]:
data['hours-per-week'].max()

99

In [121]:
data[data['hours-per-week'] == 99]['age'].count()

85

In [124]:
data[(data['hours-per-week'] == 99) & (data['salary'] == '>50K')]['age'].count() / data[data['hours-per-week'] == 99]['age'].count()

0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [135]:
data.groupby(['native-country','salary'])['hours-per-week'].mean()

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64