In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('3.7_homework.csv', index_col=0)

In [5]:
df.head()

   sepal length  sepal width  petal length  petal width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [6]:
%%timeit
df.mean(axis=0)

189 µs ± 2.68 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [7]:
%%timeit
df.apply(np.mean)

394 µs ± 10.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [8]:
%%timeit
df.apply('mean')

236 µs ± 9.48 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [9]:
%%timeit
df.describe().loc['mean']

4.18 ms ± 68.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)