In [42]:
import pandas as pd
import numpy as np

# Функция для нахождения вершины с минимальным расстоянием
def min_distance(dist, visited):
    min_dist = np.inf
    min_index = -1
    for v in range(len(dist)):
        if dist[v] < min_dist and not visited[v]:
            min_dist = dist[v]
            min_index = v
    return min_index

# Функция для нахождения кратчайшего пути
def dijkstra_algorithm(graph, start, end):
    # Инициализация переменных
    dist = [np.inf] * len(graph)
    dist[start] = 0
    visited = [False] * len(graph)
    prev = [-1] * len(graph)

    # Выполнение алгоритма
    for i in range(len(graph)):
        v = min_distance(dist, visited)
        visited[v] = True
        if v == end:
            break
        for j in range(len(graph)):
            if graph[v][j] != 0 and not visited[j]:
                if dist[v] + graph[v][j] < dist[j]:
                    dist[j] = dist[v] + graph[v][j]
                    prev[j] = v

    # Составление пути
    path = [end]
    while prev[path[-1]] != -1:
        path.append(prev[path[-1]])
    path.reverse()

    # Возвращение результата
    return dist[end], path

# Пример использования
# Создание матрицы смежности
matrix = [[0, 7, 9, 0, 0, 14],
          [7, 0, 10, 15, 0, 0],
          [9, 10, 0, 11, 0, 2],
          [0, 15, 11, 0, 6, 0],
          [0, 0, 0, 6, 0, 9],
          [14, 0, 2, 0, 9, 0]]

df = pd.DataFrame(matrix)

# Нахождение кратчайшего пути
distance, path = dijkstra_algorithm(df.values, 0, 4)

# Вывод результата
print("Кратчайшее расстояние:", distance)
print("Кратчайший путь:", path)

Кратчайшее расстояние: 20
Кратчайший путь: [0, 2, 5, 4]

In [47]:
import openpyxl

In [48]:
import numpy as np
import pandas as pd

In [55]:
D = pd.ExcelFile("Data_Metro.xlsx", engine= 'openpyxl')
df = D.parse()
df = df.drop(columns='Unnamed: 0')
df.head()

,Новослободская,Проспект мира К,Комсомольская,Курская К,Таганская К,Павелецкая К,Добрынинская,Октябрьская К,Парк Культуры К,Киевская К,...,Кропотинсая,Библиотека им. Ленина,Охотный ряд,Лубянка,Чистые пруды,Красные Ворота,Комсомольская Кр,Трубная,Сретенский Бульвар,Чкаловская
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
i = 0
for column in df:
    df[str(column)][i] = 0
    i += 1
df.head()

,Новослободская,Проспект мира К,Комсомольская,Курская К,Таганская К,Павелецкая К,Добрынинская,Октябрьская К,Парк Культуры К,Киевская К,...,Кропотинсая,Библиотека им. Ленина,Охотный ряд,Лубянка,Чистые пруды,Красные Ворота,Комсомольская Кр,Трубная,Сретенский Бульвар,Чкаловская
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,4.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df.iloc[1,0]
for i in range(df.shape[0]):
    for j in range(df.shape[1]):
        df.iloc[i,j] = df.iloc[j,i]
df.head()

,Новослободская,Проспект мира К,Комсомольская,Курская К,Таганская К,Павелецкая К,Добрынинская,Октябрьская К,Парк Культуры К,Киевская К,...,Кропотинсая,Библиотека им. Ленина,Охотный ряд,Лубянка,Чистые пруды,Красные Ворота,Комсомольская Кр,Трубная,Сретенский Бульвар,Чкаловская
0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,4.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
3,NaN,NaN,4.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
4,NaN,NaN,NaN,4.0,0.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df.replace(np.nan, math.inf, inplace=True)
df.head()

,Новослободская,Проспект мира К,Комсомольская,Курская К,Таганская К,Павелецкая К,Добрынинская,Октябрьская К,Парк Культуры К,Киевская К,...,Кропотинсая,Библиотека им. Ленина,Охотный ряд,Лубянка,Чистые пруды,Красные Ворота,Комсомольская Кр,Трубная,Сретенский Бульвар,Чкаловская
0,0.0,4.0,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
1,4.0,0.0,4.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2,inf,4.0,0.0,4.0,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,5.0,inf,inf,inf
3,inf,inf,4.0,0.0,4.0,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,6.0
4,inf,inf,inf,4.0,0.0,3.0,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf

In [66]:
df_metro = df

In [67]:
distance, path = dijkstra_algorithm(df_metro.values, 46, 27)

print("Кратчайшее расстояние:", distance)
print("Кратчайший путь:", path)

Кратчайшее расстояние: 15.0
Кратчайший путь: [46, 8, 7, 28, 27]

In [53]:
Data_Metro = list(df.itertuples(index=False, name=None))

In [12]:
Dict = {'Новослободская':0, 'Проспект мира К':1, 'Комсомольская':2, 'Курская К':3, 'Таганская К':4, 'Павелецкая К':5, 'Добрынинская':6, 'Октябрьская К':7, 'Парк Культуры К':8, 'Киевская К':9, 'Краснопресненская':10, 'Белорусская К':11}

In [13]:
print("Введите маршрут")
print("От:")
start = input()
print("До:")
end = input()

Введите маршрут
От:
1
До:
1

In [9]:
start = Dict[start]
end = Dict[end]
print(start, end)

NameError: name 'start' is not defined

In [14]:
start = 12
end = 55